In [1]:
import pandas as pd

#load data from TSV

df = pd.read_csv('tsv/cello_single.tsv', delimiter='\t')

display(df)

    Frequency (Hz)  Amplitude
0        73.684211   0.005356
1       136.842105   0.004395
2       147.368421   0.102953
3       223.684211   0.011307
4       297.368421   0.035448
5       371.052632   0.005977
6       442.105263   0.002880
7       447.368421   0.006474
8       521.052632   0.011020
9       594.736842   0.002818
10      818.421053   0.002759
11      894.736842   0.002141
12      965.789474   0.002436
13     1263.157895   0.002615

In [2]:
# Duplicate the columns into a new dataframe
double_df = pd.DataFrame({
    "freq_data1": df["Frequency (Hz)"],
    "amp_data1": df["Amplitude"],
    "freq_data2": df["Frequency (Hz)"],
    "amp_data2": df["Amplitude"]
})

display(double_df)

     freq_data1  amp_data1   freq_data2  amp_data2
0     73.684211   0.005356    73.684211   0.005356
1    136.842105   0.004395   136.842105   0.004395
2    147.368421   0.102953   147.368421   0.102953
3    223.684211   0.011307   223.684211   0.011307
4    297.368421   0.035448   297.368421   0.035448
5    371.052632   0.005977   371.052632   0.005977
6    442.105263   0.002880   442.105263   0.002880
7    447.368421   0.006474   447.368421   0.006474
8    521.052632   0.011020   521.052632   0.011020
9    594.736842   0.002818   594.736842   0.002818
10   818.421053   0.002759   818.421053   0.002759
11   894.736842   0.002141   894.736842   0.002141
12   965.789474   0.002436   965.789474   0.002436
13  1263.157895   0.002615  1263.157895   0.002615

In [3]:
import pandas as pd
import numpy as np

def process_df(input_df, freq_start_col, amp_start_col, freq_stop_col, amp_stop_col, wave_stop_value, override_amp_value=None, scale_amp_value=True):
    # Scaling amplitude if required
    if scale_amp_value:
        amp_start_scaled = input_df[amp_start_col] / input_df[amp_start_col].max()
        amp_stop_max = input_df[amp_stop_col] / input_df[amp_stop_col].max()
    else:
        amp_start_scaled = input_df[amp_start_col]
        amp_stop_max = input_df[amp_stop_col]
    
    # Overriding amplitude values if required
    if override_amp_value is not None:
        amp_min = [override_amp_value] * len(input_df)
        amp_max = [override_amp_value] * len(input_df)
    else:
        amp_min = amp_start_scaled
        amp_max = amp_stop_max

    new_data = {
        "freq_start": input_df[freq_start_col],
        "freq_stop": input_df[freq_stop_col],
        "time_start": [0.0] * len(input_df),
        "time_stop": [wave_stop_value] * len(input_df),
        "amp_min": amp_min,
        "amp_max": amp_max
    }
    
    return pd.DataFrame(new_data)

wave_stop_value = 15.0
override_amp_value = None
scale_amp_value = True

new_df = process_df(double_df, 'freq_data1', 'amp_data1', 'freq_data2', 'amp_data2', wave_stop_value, override_amp_value, scale_amp_value)
display(new_df)

     freq_start    freq_stop  time_start  time_stop   amp_min   amp_max
0     73.684211    73.684211         0.0       15.0  0.052027  0.052027
1    136.842105   136.842105         0.0       15.0  0.042688  0.042688
2    147.368421   147.368421         0.0       15.0  1.000000  1.000000
3    223.684211   223.684211         0.0       15.0  0.109827  0.109827
4    297.368421   297.368421         0.0       15.0  0.344315  0.344315
5    371.052632   371.052632         0.0       15.0  0.058057  0.058057
6    442.105263   442.105263         0.0       15.0  0.027971  0.027971
7    447.368421   447.368421         0.0       15.0  0.062887  0.062887
8    521.052632   521.052632         0.0       15.0  0.107042  0.107042
9    594.736842   594.736842         0.0       15.0  0.027374  0.027374
10   818.421053   818.421053         0.0       15.0  0.026797  0.026797
11   894.736842   894.736842         0.0       15.0  0.020797  0.020797
12   965.789474   965.789474         0.0       15.0  0.023658  0.023658
13  1263.157895  1263.157895         0.0       15.0  0.025396  0.025396

In [4]:
import os
from datetime import datetime

# Define the path for the /tsv subfolder
output_directory = 'tsv'

# Check if the directory exists; if not, create it
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Define the filename path to save inside the /tsv subfolder
filename = os.path.join(output_directory, 'cello_double.tsv')

try:
    new_df.to_csv(filename, sep='\t', index=False)
    print(f"Data saved successfully to {os.path.abspath(filename)} at {datetime.now()}.")
except:
    print("Error: data could not be saved.")

Data saved successfully to C:\Users\egorp\Nextcloud\code\public_repos\audiospylt\tsv\cello_double.tsv at 2024-06-10 23:12:11.522329.