In [7]:
import pandas as pd

#load data from TSV

df = pd.read_csv('tsv/parm.tsv', delimiter='\t')

display(df)

    Frequency (Hz)  Amplitude
0             32.2   0.001178
1             33.0   0.001485
2             33.8   0.001919
3             34.8   0.003185
4             35.8   0.040485
5             37.2   0.001596
6             50.0   0.001314
7             70.6   0.038964
8             71.4   0.012849
9            106.0   0.016784
10           107.2   0.004391
11           141.2   0.002128
12           143.0   0.003334
13           212.0   0.002786

In [2]:
# duplicate the columns into a new dataframe
double_df = pd.DataFrame({
    "freq_data1": df["Frequency (Hz)"],
    "amp_data1": df["Amplitude"],
    "freq_data2": df["Frequency (Hz)"],
    "amp_data2": df["Amplitude"]
})

pd.reset_option('all')

display(double_df)

    freq_data1  amp_data1  freq_data2  amp_data2
0         32.2   0.001178        32.2   0.001178
1         33.0   0.001485        33.0   0.001485
2         33.8   0.001919        33.8   0.001919
3         34.8   0.003185        34.8   0.003185
4         35.8   0.040485        35.8   0.040485
5         37.2   0.001596        37.2   0.001596
6         50.0   0.001314        50.0   0.001314
7         70.6   0.038964        70.6   0.038964
8         71.4   0.012849        71.4   0.012849
9        106.0   0.016784       106.0   0.016784
10       107.2   0.004391       107.2   0.004391
11       141.2   0.002128       141.2   0.002128
12       143.0   0.003334       143.0   0.003334
13       212.0   0.002786       212.0   0.002786

In [3]:
import pandas as pd
import numpy as np

def process_df(input_df, freq_start_col, amp_start_col, freq_stop_col, amp_stop_col, wave_stop_value, override_amp_value=None, scale_amp_value=True):
    # Scaling amplitude if required
    if scale_amp_value:
        amp_start_scaled = input_df[amp_start_col] / input_df[amp_start_col].max()
        amp_stop_max = input_df[amp_stop_col] / input_df[amp_stop_col].max()
    else:
        amp_start_scaled = input_df[amp_start_col]
        amp_stop_max = input_df[amp_stop_col]
    
    # Overriding amplitude values if required
    if override_amp_value is not None:
        amp_min = [override_amp_value] * len(input_df)
        amp_max = [override_amp_value] * len(input_df)
    else:
        amp_min = amp_start_scaled
        amp_max = amp_stop_max

    new_data = {
        "freq_start": input_df[freq_start_col],
        "freq_stop": input_df[freq_stop_col],
        "time_start": [0.0] * len(input_df),
        "time_stop": [wave_stop_value] * len(input_df),
        "amp_min": amp_min,
        "amp_max": amp_max
    }
    
    return pd.DataFrame(new_data)

wave_stop_value = 15.0
override_amp_value = None
scale_amp_value = True

new_df = process_df(double_df, 'freq_data1', 'amp_data1', 'freq_data2', 'amp_data2', wave_stop_value, override_amp_value, scale_amp_value)
display(new_df)

    freq_start  freq_stop  time_start  time_stop   amp_min   amp_max
0         32.2       32.2         0.0       15.0  0.029106  0.029106
1         33.0       33.0         0.0       15.0  0.036671  0.036671
2         33.8       33.8         0.0       15.0  0.047399  0.047399
3         34.8       34.8         0.0       15.0  0.078673  0.078673
4         35.8       35.8         0.0       15.0  1.000000  1.000000
5         37.2       37.2         0.0       15.0  0.039426  0.039426
6         50.0       50.0         0.0       15.0  0.032444  0.032444
7         70.6       70.6         0.0       15.0  0.962430  0.962430
8         71.4       71.4         0.0       15.0  0.317385  0.317385
9        106.0      106.0         0.0       15.0  0.414574  0.414574
10       107.2      107.2         0.0       15.0  0.108460  0.108460
11       141.2      141.2         0.0       15.0  0.052556  0.052556
12       143.0      143.0         0.0       15.0  0.082351  0.082351
13       212.0      212.0         0.0       15.0  0.068805  0.068805

In [8]:
import os
from datetime import datetime

# Define the path for the /tsv subfolder
output_directory = 'tsv'

# Check if the directory exists; if not, create it
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Define the filename path to save inside the /tsv subfolder
filename = os.path.join(output_directory, 'parm_double2.tsv')

try:
    new_df.to_csv(filename, sep='\t', index=False)
    print(f"Data saved successfully to {os.path.abspath(filename)} at {datetime.now()}.")
except:
    print("Error: data could not be saved.")

Data saved successfully to C:\Users\egor_\Desktop\tests\audiospylt\tsv\parm_double2.tsv at 2023-09-20 11:31:01.662101.