In [9]:
import pandas as pd

#load data from TSV

df = pd.read_csv('conga_multidft.tsv', delimiter='\t')

display(df)

    freq_start   freq_stop  time_start  time_stop   amp_min   amp_max
0    71.428571   71.428571        0.03       0.10  0.481900  0.481900
1   128.571429  128.571429        0.03       0.10  0.525280  0.525280
2   157.142857  157.142857        0.03       0.10  0.556550  0.556550
3   200.000000  200.000000        0.03       0.10  0.567891  0.567891
4   242.857143  242.857143        0.03       0.10  0.740521  0.740521
..         ...         ...         ...        ...       ...       ...
82  395.000000  395.000000        0.20       0.40  0.051115  0.051115
83  515.000000  515.000000        0.20       0.40  0.021439  0.021439
84  550.000000  550.000000        0.20       0.40  0.018971  0.018971
85  600.000000  600.000000        0.20       0.40  0.043340  0.043340
86  240.000000  240.000000        0.40       0.75  0.021903  0.021903

[87 rows x 6 columns]

In [14]:
# Make a copy of the dataframe
df_copy = df.copy()

# Define the stretch factor
stretch_factor = 10

# Define the pitch factor
pitch_factor = 1

# Find the minimum time_start value
min_time_start = df['time_start'].min()

# Multiply the time_start values by the stretch factor, except for the rows with time_start equal to min_time_start
df_copy.loc[df_copy['time_start'] != min_time_start, 'time_start'] *= stretch_factor

# Multiply all time_stop values by the stretch factor
df_copy['time_stop'] *= stretch_factor

# Multiply all freq_start and freq_stop values by the pitch factor
df_copy[['freq_start', 'freq_stop']] *= pitch_factor

display(df_copy)

    freq_start   freq_stop  time_start  time_stop   amp_min   amp_max
0    71.428571   71.428571        0.03        1.0  0.481900  0.481900
1   128.571429  128.571429        0.03        1.0  0.525280  0.525280
2   157.142857  157.142857        0.03        1.0  0.556550  0.556550
3   200.000000  200.000000        0.03        1.0  0.567891  0.567891
4   242.857143  242.857143        0.03        1.0  0.740521  0.740521
..         ...         ...         ...        ...       ...       ...
82  395.000000  395.000000        2.00        4.0  0.051115  0.051115
83  515.000000  515.000000        2.00        4.0  0.021439  0.021439
84  550.000000  550.000000        2.00        4.0  0.018971  0.018971
85  600.000000  600.000000        2.00        4.0  0.043340  0.043340
86  240.000000  240.000000        4.00        7.5  0.021903  0.021903

[87 rows x 6 columns]

In [15]:
import os
from datetime import datetime

# save the DataFrame as a TSV file
filename = 'conga_stretch.tsv'
try:
    df_copy.to_csv(filename, sep='\t', index=False)
    print(f"Data saved successfully to {os.getcwd()}\\{filename} at {datetime.now()}.")
except:
    print("Error: data could not be saved.")

Data saved successfully to C:\Users\egor_\Desktop\tests\audiospylt\conga_stretch.tsv at 2023-09-18 18:12:14.050783.